@using Microsoft.AspNet.Identity
@model eDoc.Web.Models.ManageUserViewModel

<p>Вие сте вписан като <strong>@User.Identity.GetUserName()</strong>.</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="form-horizontal">
        <legend>Смени паролата ми</legend>
        <div class="control-group">
            <label class="control-label" for="OldPassword">Текуща парола</label>
            <div class="controls">
                @Html.PasswordFor(m => m.OldPassword)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="NewPassword">Нова парола</label>
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="ConfirmPassword">Потвърдете паролата</label>
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>

         <div class="form-actions no-color">
             <input type="submit" value="Смени паролата" class="btn" />
        </div>
    </fieldset>
}
