@model eDoc.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>Вписване</h1>
</hgroup>
<div class="row-fluid">
    <div class="span6">
        <section id="loginForm">
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset class="form-horizontal">
                    
                    <div class="control-group">
                        <label class="control-label">Потребителско име</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Парола</label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">Запомни ме
                                @Html.CheckBoxFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-actions no-color">
                        <input type="submit" value="Вписване" class="btn" />
                    </div>
                </fieldset>
                <p>
                    @Html.ActionLink("Регистрирайте се", "Register") ако нямате потребителски профил.
                </p>
            }
        </section>
    </div>
    <div class="span6">
        <section id="socialLoginForm">

            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}