@model eDoc.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>Регистрация</h1>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="form-horizontal">
        <legend>Създаване на нов потребителски профил.</legend>
        <div class="control-group">
            <label class = "control-label">Потребителско име</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Парола</label>
            <div class="controls">
                @Html.PasswordFor(m => m.Password)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Потвърдете паролата</label>
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Email)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">GSM номер</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.PhoneNumber)
                </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Регистрация" class="btn" />
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
