@model IEnumerable<eDoc.Models.Document>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Автор
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneValidated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailValidated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TokenInput)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TokenCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneValidated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailValidated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TokenInput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TokenCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.ActionLink("Редактирай", "Edit", "Document", new { id = item.Id }, null) |
                @Html.ActionLink("Детайли", "Details", "Document", new { id = item.Id }, null) |
                @Html.ActionLink("Изтрий", "Delete", "Document", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
