@model eDoc.Web.ViewModels.DocumentIndexVM

@{
    ViewBag.Title = "Create";
}

<div class="hero-unit">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="form-horizontal">
            <legend>Създай документ:</legend>

            <div class="control-group">
                @Html.LabelFor(model => model.Type, new { @class = "control-label" })
                <div class="controls">
                    <select id="document-types" name="type">
                        @foreach (var item in ViewBag.DocumentTypes)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>

                    @Html.ValidationMessageFor(model => model.Type, null, new { @class = "help-inline" })
                </div>
            </div>

            <div id="document-template">

            </div>

            <div class="form-actions no-color">
                <input type="submit" value="Create" class="btn" />
            </div>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#document-types").change(function (e) {
            var dropDown = $("#document-types");
            var type = dropDown.children()[dropDown.val() - 1].innerText;
            
            $.get('@Url.Action("SelectType","Document")?type=' + type, function (data) {
                $('#document-template').html(data);
            });
        });
    </script>
}
