@model eDoc.Web.ViewModels.DocumentIndexVM

@{
    ViewBag.Title = "Create";
}

<h2>Създаване на документ</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Документ</legend>

        <div class="control-group well">
            <label class="control-label" for="Type">Тип: </label>
            <div class="controls">
                <select id="document-types" name="type">
                    @foreach (var item in ViewBag.DocumentTypes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>

                @Html.ValidationMessageFor(model => model.Type, null, new { @class = "help-inline" })
            </div>
        </div>

        <div id="document-template" class="well">

        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Създай" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Обратно към списъка", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#document-types").change(function (e) {
            var dropDown = $("#document-types");
            var type = dropDown.children()[dropDown.val() - 1].innerText;
            
            $.get('@Url.Action("SelectType","Document")?type=' + type, function (data) {
                $('#document-template').html(data);
            });
        });
    </script>
}
