@model eDoc.Web.ViewModels.DocumentIndexVM

@{
    ViewBag.Title = "Delete";
}

<h2>Изтриване</h2>

<h3>Сигурни ли сте, че искате да изтриете този доумент?</h3>
<fieldset>
    <legend>@Html.DisplayFor(model => model.Type)  ( @Html.DisplayFor(model => model.Status) )</legend>

    <div style="max-width: 400px; height:70px">
        <div style="display: inline-block; float:right;">
            <p><strong>Дата: </strong></p>
            @Html.DisplayFor(model => model.Date)
        </div>
        <div style="display: inline-block; float:left">
            <p><strong>Автор: </strong></p>
            @Html.DisplayFor(model => model.AuthorName)
        </div>
    </div>

    <div style="max-width: 400px;">
        <p><strong>Съдържание: </strong></p>
        @Html.DisplayFor(model => model.Content)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        @Html.ActionLink("Обратно към списъка", "Index")
    </div>
}
