@model eDoc.Web.ViewModels.DocumentIndexVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Document</legend>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            Verification
        </dt>

        <dd>
            @if (!Model.EmailVarified)
            {
                <p>Email unverified</p>
            }
            else
            {
                <p>Email verified</p>
            }

            @if (!Model.GsmVarified)
            {
                <p>Gsm unverified</p>
            }
            else
            {
                <p>Gsm verified</p>
            }
        </dd>

        <dt>
            Verify
        </dt>

        <dd>
            @if (!Model.EmailVarified)
            {
                <label for="email">Email varification code: </label>
                <input type="text" id="email" /> <button onclick="verifyEmail">Verify</button><br />
            }

            @if (!Model.GsmVarified)
            {
                <label for="gsm">GSM varification code: </label>
                <input type="text" id="gsm" /> <button onclick="verifyGsm">Verify</button><br />
            }
        </dd>

    </dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script>
        function verifyEmail() {
            var emailCode = $("#email").val();
            $.post('@Url.Action("EmailVerify", "Document", new { @id = Model.Id })' + "?code=" + emailCode);
        }

        function verifyEmail() {
            var emailCode = $("#gsm").val();
            $.post('@Url.Action("'GsmVerify", "Document", new { @id = Model.Id })' + "?code=" + gsmCode);
        }

    </script>
}
