@model eDoc.Web.ViewModels.DocumentIndexVM

@{
    ViewBag.Title = "Details";
}

<h2>Детайли</h2>

<fieldset>
    <legend>@Html.DisplayFor(model => model.Type)  ( @Html.DisplayFor(model => model.Status) )</legend>

    <div style="max-width: 400px; height:70px">
        <div style="display: inline-block; float:right;">
            <p><strong>Дата: </strong></p>
            @Html.DisplayFor(model => model.Date)
        </div>
        <div style="display: inline-block; float:left">
            <p><strong>Автор: </strong></p>
            @Html.DisplayFor(model => model.AuthorName)
        </div>
    </div>

    <div style="max-width: 400px;">
        <p><strong>Съдържание: </strong></p>
        @Html.DisplayFor(model => model.Content)
    </div>
    <div style="max-width: 400px;">
        <p><strong>Коментар: </strong></p>
        @Html.DisplayFor(model => model.Comment)
    </div>
    <dl>
        @if (!Model.PhoneValidated || !Model.EmailValidated)
        {
            <dt>
                Verification
            </dt>
            <dd>
                @if (!Model.PhoneValidated && Settings.ValidateSms)
                {
                    <div>
                        <form action="/Document/GsmVerify" method="POST">
                            <label for="phoneCode">Phone code:</label>
                            @Html.TextBox("code",
                                Model.PhoneValidated ? Model.PhoneCode : "",
                                Model.PhoneValidated ? new { @readonly = "true" } : null) <br />
                            @Html.Hidden("documentId", Model.Id)
                            <input type="submit" value="Verify" />
                        </form>
                    </div>
                }
                @if (!Model.EmailValidated && Settings.ValidateEmail)
                {
                    <div>
                        <form action="/Document/EmailVerify" method="POST">
                            <label for="EmailCode">Email code:</label>
                            @Html.TextBox("code",
                                Model.EmailValidated ? Model.EmailCode : "",
                                Model.EmailValidated ? new { @readonly = "true" } : null) <br />
                            @Html.Hidden("documentId", Model.Id)
                            <input type="submit" value="Verify" />
                        </form>
                    </div>
                }

                @if (!Model.TokenValidated && Settings.ValidateSms)
                {
                    <div>
                        Token input: @Model.TokenInput <br />
                        <form action="/Document/TokenVerify" method="POST">
                            <label for="TokenCode">Token code:</label>
                            @Html.TextBox("code",
                                Model.TokenValidated ? Model.TokenCode : "",
                                Model.TokenValidated ? new { @readonly = "true" } : null) <br />
                            @Html.Hidden("documentId", Model.Id)
                            <input type="submit" value="Verify" />
                        </form>
                    </div>
                }
            </dd>
        }
    </dl>

</fieldset>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Редактиране", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
    }
    @Html.ActionLink("Обратно към списъка", "Index")
</p>

@section Scripts {
    <script>
        function verifyEmailCode() {
            var emailCode = $("#emailCode").val();
            $.post('@Url.Action("EmailVerify", "Document", new { id = Model.Id })?  code=' + emailCode);
        }

        function verifyPhoneCode() {
            var phoneCode = $("#phoneCode").val();
            $.post('@Url.Action("PhoneVerify", "Document", new { id = Model.Id })?code=' + phoneCode);
        }
    </script>
}
