@model eDoc.Web.ViewModels.DocumentIndexVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Document</legend>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        @if (!string.IsNullOrWhiteSpace(Model.Comment))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>
        }

        @if (!Settings.Validate(Model))
        {
            <dt>
                Валидиране:
            </dt>
            <dd>
                @if (!Model.PhoneValidated && Settings.ValidateSms)
                {
                    <div>
                        <form action="/Document/GsmVerify" method="POST">
                            <label for="phoneCode">Код от SMS:</label>
                            @Html.TextBox("code",
                                Model.PhoneValidated ? Model.PhoneCode : "",
                                Model.PhoneValidated ? new { @readonly = "true" } : null) <br />
                            @Html.Hidden("documentId", Model.Id)
                            <input type="submit" value="OK" />
                        </form>
                    </div>
                }
                @if (!Model.EmailValidated && Settings.ValidateEmail)
                {
                    <div>
                        <form action="/Document/EmailVerify" method="POST">
                            <label for="EmailCode">Код от email:</label>
                            @Html.TextBox("code",
                                Model.EmailValidated ? Model.EmailCode : "",
                                Model.EmailValidated ? new { @readonly = "true" } : null) <br />
                            @Html.Hidden("documentId", Model.Id)
                            <input type="submit" value="OK" />
                        </form>
                    </div>
                }

                @if (!Model.TokenValidated && Settings.ValidateToken)
                {
                    <div>
                        Вход за Токен генерация: @Model.TokenInput <br />
                        <form action="/Document/TokenVerify" method="POST">
                            <label for="TokenCode">Код от Токен:</label>
                            @Html.TextBox("code",
                                Model.TokenValidated ? Model.TokenCode : "",
                                Model.TokenValidated ? new { @readonly = "true" } : null) <br />
                            @Html.Hidden("documentId", Model.Id)
                            <input type="submit" value="OK" />
                        </form>
                    </div>
                }
            </dd>
        }
    </dl>
</fieldset>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @Html.ActionLink("Обратно към списъка", "Index")
</p>
