@model IEnumerable<eDoc.Web.ViewModels.DocumentIndexVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            Email verified
        </th>
        <th>
            Gsm verified
        </th>
        <th>
            Answer
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (item.Status.ToLower() == "pending")
                {
                    <p class="alert alert-dismissable alert-warning">pending</p>
                }
                else if (item.Status.ToLower() == "rejected")
                {
                    <p class="alert alert-dismissable alert-danger">rejected</p>
                }
                else if (item.Status.ToLower() == "unverified")
                {
                    <p class="alert alert-dismissable alert-warning">unverified</p>
                }
                else if (item.Status.ToLower() == "approved")
                {
                    <p class="alert alert-dismissable alert-success">approved</p>
                }
                else
                {
                    <p class="alert alert-dismissable alert-info">@Html.DisplayFor(modelItem => item.Status)</p>
                }
                
            </td>
            <td >
                <p class ="alert alert-dismissable alert-info"> @Html.DisplayFor(modelItem => item.Type) </p>
            </td>
            <td>
                @if (item.EmailVarified)
                {
                    <p class="alert alert-dismissable alert-success">verified</p>
                }
                else
                {
                    <p class="alert alert-dismissable alert-danger">unverified</p>
                }
            </td>
            <td>
                @if (item.GsmVarified)
                {
                    <p class="alert alert-dismissable alert-success">verified</p>
                }
                else
                {
                    <p class="alert alert-dismissable alert-danger">unverified</p>
                }
            </td>
            <td>
                <a href="/Admin/Answer/@item.Id" class="btn btn-primary">Answer</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id}, new  {@class = "btn btn-danger"})
            </td>
        </tr>
    }

</table>
